.Home {

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    
    
}

.Home_hero{
  
  width: 100%;
  padding: 4rem;

  background: url('/src/images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


@media screen and (max-width: 320px) {
  
  .Home_hero{
  
    padding: 2rem;
  
  }
  
}

@media screen and (min-width: 414px) {
  
  .Home_hero{
  
    padding: 5rem;
  
  }

}

@media screen and (min-width: 768px){
  .Home_hero{
  
    padding: 7rem;
  
  }
}

@media screen and (max-width: 768px){
  .Home{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}


