.Home {

    color: #ffffff;

    display: flex;
    align-items: center;
    
    
}

.Home_hero{
  
  width: 100%;
  padding: 5rem;

  background: url('/src/images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Home__col {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


@media screen and (min-width: 300px) {
  

  
}

@media screen and (min-width: 768px){
  .Home_hero{
  
    padding: 7rem;
  
  }
  
}
